# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store
.idea

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xcscheme

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

# Swift Package Manager
.swiftpm
.build/

# Fastlane
*.app.dSYM.zip
*.mobileprovision
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
Preview.html
output

# Wireguard specific
Sources/WireGuardApp/Config/Developer.xcconfig

# Vim
.*.sw*
